### Mongodb Aggregate And Group
1. avg
2. sum
3. project

In [1]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Chandan", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Chandan",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Chandan",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [2]:
### Find Chandan and Amit Total Subjects
agg_result = collection.aggregate(
[{
    "$group" :
        {"_id":"$user",
         "Total_Subject":{"$sum":1}
        }
}])

In [3]:
for i in agg_result:
    print(i)

{'_id': 'Amit', 'Total_Subject': 3}
{'_id': 'Chandan', 'Total_Subject': 3}

In [5]:
### Calculate the total score based on user
agg_result = collection.aggregate(
[{
    "$group" :
        {"_id":"$user",
         "Total Marks":{"$sum":"$score"}
        }
}])

In [6]:
for i in agg_result:
    print(i)

{'_id': 'Chandan', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [7]:
### Calulate the average score based on user
agg_result = collection.aggregate(
[{
    "$group": {
        "_id": '$user',
        "StudentScoreAverage": {
            "$avg": "$score"
        }
    }
}])

In [8]:
for i in agg_result:
    print(i)

{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}
{'_id': 'Chandan', 'StudentScoreAverage': 83.33333333333333}

In [10]:
import datetime as datetime

In [11]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [12]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2023, 1, 18, 8, 48, 45, 510960)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2023, 1, 18, 8, 48, 45, 510960)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2023, 1, 18, 8, 48, 45, 510960)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2023, 1, 18, 8, 48, 45, 510960)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2023, 1, 18, 8, 48, 45, 510960)}]

In [ ]:
mycollection = mydatabase['stores']
mycollection.insert_many(data)